html,body {
	margin: 0px;
	padding: 0px;
}

* {
	box-sizing: border-box;
}

a {
	color: #07B4F2;
	text-decoration: none;
}

a:hover {
	color: #247FE0;
	text-decoration: underline;
}

.clear-float {
	clear: both;
}

main {
	display: block;
	width: 980px;
	margin: 0 auto;
	/*height: 20px;*/
	/*background: black;*/
}

/* HEADER */

header {
	display: block;
	width: 100%;
	/*height: 100px;*/
	padding-top: 30px;
}

header > .top {
	width: 100%;
}

header > .top > .logo {
	font-family: 'Oswald', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 36px;
	margin-left: 25px;
	float: left;
}

header > .top > nav {
	float: right;
	margin-top: 12px;
	/*line-height: 53px;*/
}

header > .top > nav > a {
	display: inline-block;
	color: white;
	font-size: 16px;
	font-family: 'Roboto';
	background-color: #0074F8;
	text-decoration: none;
	padding: 5px;
	margin-left: 5px;
}

header > .top > nav > .active {
	background-color: #F9BC1E;
}

header > .search-bar {
	width: 60%;
	position: relative;
	margin-left: 20%;
	margin-top: 25px;
}

header > .search-bar input {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 6px 9px;
	outline: none;
	border: 1px solid #0074F8;
}

header > .search-bar button {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 38px;
	width: 38px;
	padding: 6px;
	border: 1px solid #0074F8;
	background: #0074F8;
}

header > .search-bar button > img {
	/*width: 100%;*/
	height: 100%;
}

header > .search-bar input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #0074F8;
}
header > .search-bar input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #0074F8;
   opacity:  1;
}
header > .search-bar input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #0074F8;
   opacity:  1;
}
header > .search-bar input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #0074F8;
}

/* HOME LISTING */

.home-listing {
	width: 74%;
	font-family: "Roboto", sans-serif;
	display: block;
	float: right;
}

.home-listing > h4 {
	font-size: 20px;
	display: block;
	padding-bottom: 8px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 0px;
}

.home-listing > .questions {
	list-style: none;
	padding: 0px;
	margin-top: 10px;
}

.home-listing > .questions > li {
	display: block;
	width: 100%;
	padding: 15px 15px;
	border-bottom: 1px solid #705364;
}

.home-listing > .questions > li:last-child {
	border-bottom: none;
}

.questions > li > .left-side {
	display: block;
	width: 15%;
	float: left;
	
	/*text-align: center;*/
}

.questions > li > .left-side > p {
	margin: 2px;
	display: inline-block;
	padding: 2px;
	background-color: #FCAC6A;
	border-radius: 4px;
}

.questions > li > .left-side > p:last-child {
	background-color: #F76939;
}

.questions > li > .right-side {
	display: block;
	width: 85%;
	float: right;
	border-left: 1px solid #cccccc;
	padding-left: 10px;
}

.questions > li > .right-side > a {
	font-size: 18px;
	display: block;
}

.questions > li > .right-side > .tags {
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	display: block;
	float: left;
}

.tags > li {
	display: inline-block;
	background-color: #95C5C7;
	padding: 2px 3px;
	color: #555555;
}

.questions > li > .right-side > .asked-by {
	float: right;
	margin-top: 7px;
}

.asked-by > span {
	color: #666666;
}

.asked-by > a {
	color: #07B4F2;
	text-decoration: none;
}

.asked-by > a:hover {
	color: #247FE0;
	text-decoration: underline;
}

.questions > li > .right-side > .stats > p {
	margin: 0px;
	margin-top: 5px;
	font-size: 14px;
}

/* CATEGORIES LISTING */

.home-categories {
	width: 24%;
	font-family: "Roboto", sans-serif;
	display: block;
	float: left;
}

.home-categories > h4 {
	font-size: 20px;
	display: block;
	padding-bottom: 8px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 0px;
}

.home-categories > .categories {
	list-style: none;
	padding: 0px;
	margin-top: 10px;
}

.home-categories > .categories > li {
	margin-bottom: 10px;
}

/* QUESTION DETAILS */

.question-details {
	width: 74%;
	float: right;
	font-family: "Roboto", sans-serif;
	display: block;
}

.question-details > h4 {
	font-size: 20px;
	display: block;
	padding-bottom: 8px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 0px;
}

.question-details > .content {
	margin: 15px 0px;
}

.question-details > .content > .left-side {
	width: 14%;
	float: left;
	display: block;
	text-align: center;
}

.content > .left-side > .avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid #07B4F2;
	margin: 0 auto;
	position: relative;
	display: block;
	overflow: hidden;
}

.content > .left-side > .avatar > img {
	position: absolute;
}

.content > .left-side > .avatar > .portrait {
	width: 76px;
	height: auto;
	top: 50%;
	left: 0px;
	margin-top: -38px;
}

.content > .left-side > .avatar > .landscape {
	width: auto;
	height: 76px;
	left: 50%;
	top: 0px;
	margin-left: -38px;
}

.content > .left-side > .profile-name {
	margin-top: 6px;
	display: block;
}

.content > .left-side > .vote {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

.content > .left-side > .vote > .arrow {
	width: 18px;
	height: auto;
	cursor: pointer;
}

.content > .left-side > .vote > .up-arrow {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #cccccc;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.content > .left-side > .vote > .down-arrow {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #cccccc;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.content > .left-side > .vote > .voted {
	border-color: #F9BC1E;
	border-left-color: transparent;
	border-right-color: transparent;
}

.content > .left-side > .vote > p {
	margin: 3px 0px;
	font-weight: bold;
	font-size: 20px;
}

.question-details > .content > .right-side {
	width: 83%;
	float: right;
	display: block;
	position: relative;
}

.content > .right-side > .description {
	line-height: 130%;
}

.content > .right-side > .posted {
	font-size: 14px;
	color: #888888;
	margin-bottom: 0px;
	/*padding: 3px 5px;*/
}

.content > .right-side > .report {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: #E9163E;
	color: white;
	padding: 3px 5px;
}

.content > .right-side > .delete {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: black;
	color: white;
	padding: 3px 5px;
}

.question-details > h5 {
	font-size: 17px;
	display: block;
	padding-bottom: 8px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 0px;
}

.question-details > .answer {
	border-bottom: 1px solid #999999;
	padding-bottom: 10px;
}

.question-details > .answer:last-child {
	border-bottom: none;
}

/* LOGIN/REGISTER */

.form {
	margin-top: 20px;
}

.form .form-error {
	color: #DB4343;
}

.form-group {
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.form-group > label {
	line-height: 34px;
}

.form-group > .form-label {
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 10px;
	font-size: 17px;
	font-weight: bold;
}

.form-group > .form-input,
.form-group > textarea,
.form-group > select {
	font-size: 17px;
	padding: 6px 4px;
	border: 1px solid #dddddd;
	float: left;
	font-family: 'Roboto';
	width: 400px;
	resize: none;
}

.form-group > input:focus,
.form-group > textarea:focus,
.form-group > select:focus {
	outline: none;
	border-color: #07B4F2;
}

.form-group > button {
	display: inline-block;
	color: white;
	font-size: 16px;
	font-family: 'Roboto';
	background-color: #0074F8;
	text-decoration: none;
	padding: 5px;
	border: 0px;
}

.form-group > a {
	display: inline-block;
	color: white;
	font-size: 16px;
	font-family: 'Roboto';
	background-color: #F9BC1E;
	text-decoration: none;
	padding: 5px;
	border: 0px;
}

/* Profile */

.profile {
	margin-top: 15px;
	margin-left: 15px;
}

.profile > .left-side {
	width: 20%;
	margin-right: 4%;
}

.profile > .left-side > img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 50%;
	border: 2px solid #07B4F2;
	margin: 0 auto;
	position: relative;
	display: block;
	overflow: hidden;
}

.profile > .left-side > button {
	color: white;
	font-size: 16px;
	font-family: 'Roboto';
	text-decoration: none;
	padding: 5px;
	border: none;
	margin-top: 5px;
}

.profile > .left-side > #choose-file {
	display: block;
	background-color: #0074F8;
	width: 100%;
}

.profile > .left-side > #save-file {
	display: inline-block;
	width: 48%;
	margin-right: 2%;
	background-color: #00A815;
	float: left;
	display: none;
} 

.profile > .left-side > #cancel-file {
	display: inline-block;
	width: 48%;
	margin-left: 2%;
	background-color: #E40101;
	display: none;
}
